

.financial-chart {
  position: relative;
}

.financial-chart__hit-area {
  cursor: pointer;
}

.financial-chart__hit-area_pointed {
  cursor: pointer;
}

.financial-chart__ticket-box {
  position: absolute;
}
