

.financial-chart {
  position: relative;
  user-select: none;
}

.financial-chart__hit-area {
  cursor: pointer;
  position: relative;
  display: block;
  z-index: 100;
  user-select: none;
}

.financial-chart__ticket-box {
  position: absolute;
  z-index: 1;
}
